/* ______DASHBOARD_______ */
.dashboard-section {
  padding: 43px;
  padding-top: 24px;
  margin: auto;
  margin-bottom: 64px;
  background-color: rgb(247, 249, 252);
  border-radius: 6px;
}

.dashboard-section-content {
  display: grid;
  grid-gap: 16px 16px;
}

.dashboard-section-title {
  font-family: 'ArimoSemiBold';
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.3rem;
  margin-top: 0;
}

.item {
  height: 100%;
}

/* ______POPUP_______ */
.popup-content {
  box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  background-color: white;
  z-index: 999;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 6px;
}

.popup-big {
  width: 600px;
}

.mopopupdal-small {
  width: 300px;
}

.popup-header {
  box-sizing: border-box;
  padding: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);
  font-family: 'ArimoSemiBold';
}

.popup-body {
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
}

.popup-section {
  padding: 16px 8px;
  border-bottom: 1px solid rgb(224, 224, 224);
  color: rgba(0, 0, 0, 0.87);
}

.popup-section:last-child {
  border-bottom: none;
}

.popup-content .table td, .popup-content .table th {
  border-color: #E0E7E8;
  padding: 16px;
}

.popup-content .table th {
  border-bottom: 1px solid rgb(224, 224, 224);
}

.popup-content .table tr:last-child th, .popup-content .table tr:last-child td {
  border-bottom: none;
}

.popup-content .table th {
  color: rgba(0, 0, 0, 0.87);
}

.popup-content .table td {
  color: rgba(0, 0, 0, 0.87);
}

/* ________TABLE________ */
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.table tr {
  color: inherit;
  display: table-row;
  vertical-align: middle;
  outline: 0px;
}

.table thead {
  position: sticky;
  top: 0px;
  background: white;
  box-shadow: inset 0 -1px 0 rgb(224, 224, 224);
}

/* TODO remove duplicates */
.table thead tr th {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.39286rem;
  display: table-cell;
  vertical-align: inherit;
  text-align: left;
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.table tbody {
  display: table-row-group;
}

.table tbody tr td {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.43;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgb(224, 224, 224);
  text-align: left;
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 4px 12px;
  width: fit-content;
}

.total {
  font-family: Poppins;
  fill: rgba(0, 0, 0, 0.87);
}