/* ______DASHBOARD_______ */
.dashboard-section {
  padding: 43px;
  padding-top: 24px;
  margin: auto;
  margin-bottom: 64px;
  background-color: var(--secondary);
  border-radius: 6px;
}

.dashboard-section-content {
  display: grid;
  grid-gap: 16px 16px;
}

.dashboard-section-title {
  font-family: 'ArimoSemiBold';
  color: var(--text);
  font-size: 1.3rem;
  margin-top: 0;
}

.item {
  height: 100%;
}

/* ______POPUP_______ */
.popup-content {
  box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  background-color: var(--main);
  z-index: 999;
  border: 1px solid var(--border);
  border-radius: 6px;
}

.popup-big {
  width: 600px;
}

.mopopupdal-small {
  width: 300px;
}

.popup-header {
  box-sizing: border-box;
  padding: 12px;
  font-weight: bold;
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  font-family: 'ArimoSemiBold';
}

.popup-body {
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
}

.popup-section {
  padding: 16px 8px;
  border-bottom: 1px solid var(--border);
  color: var(--text);
}

.popup-section:last-child {
  border-bottom: none;
}

.popup-content .table td, .popup-content .table th {
  border-color: var(--border);
  padding: 16px;
}

.popup-content .table th {
  border-bottom: 1px solid var(--border);
}

.popup-content .table tr:last-child th, .popup-content .table tr:last-child td {
  border-bottom: none;
}

.popup-content .table th {
  color: var(--text);
}

.popup-content .table td {
  color: var(--text);
}

/* ________TABLE________ */
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.table tr {
  color: inherit;
  display: table-row;
  vertical-align: middle;
  outline: 0px;
}

.table thead {
  position: sticky;
  top: 0px;
  background: var(--main);
  box-shadow: inset 0 -1px 0 var(--border);
}

/* TODO remove duplicates */
.table thead tr th {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.39286rem;
  display: table-cell;
  vertical-align: inherit;
  text-align: left;
  padding: 16px;
  color: var(--text);
}

.table tbody {
  display: table-row-group;
}

.table tbody tr td {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.43;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid var(--border);
  text-align: left;
  padding: 16px;
  color: var(--text);
}

.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 4px 12px;
  width: fit-content;
}

.total {
  font-family: Poppins;
  fill: var(--text);
}

.logo {
  font-family: PoppinsBold;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  margin-left: 32px;
  font-weight: 700;
  color: rgb(238, 238, 238);
}

.color-switch {
  margin-right: 32px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

.dark .color-switch {
  transform: rotate(180deg);
}

.tick text {
  fill: var(--text); 
}

.axis path, .axis line {
  stroke: var(--border)
}