npm-dashboard {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 16px 16px;
  grid-template-rows: 400px;
  padding: 8px;
}

dashboard-item {
  position: relative;
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 75%);
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

dashboard-item h2 {
  height: 48px;
  position: absolute;
  padding: 0 16px;
  background-color: #EAF6F6;
  opacity: 0.7;
  width: 100%;
  top: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.item {
  height: 100%;
}

loading-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}