npm-dashboard {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;;
  grid-gap: 16px 16px;
  grid-template-rows: 400px;
  padding: 8px;
}

dashboard-item {
  position: relative;
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 75%);
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

dashboard-item h2 {
  height: 48px;
  position: absolute;
  padding: 0 16px;
  background-color: #EAF6F6;
  opacity: 0.7;
  width: 100%;
  top: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.item {
  height: 100%;
}

popups-root {
  position: absolute;
  top: 0;
  left: 0;
}

loading-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  padding: 16px;
  width: 600px;
  position: absolute;
  background-color: white;
  z-index: 999;
  border: 1px solid #66BFBF;
  border-radius: 4px;
}

.modal-header {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  padding-bottom: 16px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #66BFBF;
}

.modal-body {
  max-height: 300px;
  overflow-y: scroll;
  margin-top: 16px;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table td, table th {
  border: 1px solid #66BFBF;
}
.table tr:first-child th, .table tr:first-child td {
  border-top: 0;
}
.table tr:last-child td, .table tr:last-child th {
  border-bottom: 0;
}
.table tr td:first-child,
.table tr th:first-child {
  border-left: 0;
}
.table tr td:last-child,
.table tr th:last-child {
  border-right: 0;
}

.table th, .table td {
  padding: 8px;
}